*{
    margin: 0px;
    padding: 0px;
    display: block;
}
h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    text-align: justify;
}
.agrupamiento{
    background: #ffeaa7;
    width: 90%;
    padding: 15px;
    margin: 15px auto;
    border: 2px dashed black;
}
.cabecera{
    background: #fffbcc;
    border:1px solid rgb(154, 123, 97);
    padding: 20px;
}
.menu{
    background: #74b9ff;
    padding: 5px;
    font: bold 14px verdana;
    text-align: left;
}
.cabecera h1{
    text-align: left;
}
.menu li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    font: bold 14px verdana;
}
.seccion{
    margin: 20px;
    width: 65%;
    border: 1px solid black;
    background: yellow;
    float: left;
}
img{
    width: 100px;
    display:block;
    margin: 20px auto;
}
time{
    color: #999;
}
article{
    background: #fffbcc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: center;
    margin-top: 20px;
}
.barra-lateral{
    width: 30%;
    border: 1px solid black;
    background: yellow;
    float: left;
    margin: 20px 0;
}
.barra-lateral blockquote{
    border: 1px solid black;
    padding: 40px;
    margin-bottom: 20px;
    background: #fffbb9;
}
.pie-pagina{
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: #ffffff;
}